<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Python Course</title>

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="dist/theme/black.css">

        <style>
            body {
                cursor: url(media/cursor.png), auto;
            }
            a {
                font-size: 15px;
                margin: auto 0 0 auto;
            }
            li {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .container {
                display: flex;
            }
            .col {
                flex: 1;
            }

            .column-list {
                columns: 100px;
            }
        </style>

        <!-- Theme used for syntax highlighted code -->
        <link rel="stylesheet" href="plugin/highlight/monokai.css">
    </head>

    <body>
        <div class="reveal">
            <div class="slides">

        <section>

            <section>

                <p>Flask</p>
            </section>


            <section>

                <p><small>
                    Flask est un micro framework web écrit en Python ;<br>
                    voici ses principales caractéristiques :
                </small></p>

                <ul>
                    <li>Ultra léger</li>
                    <li>Rapide à apprendre et à utiliser</li>
                    <li>
                        <strong>Dynamique :</strong><br>
                        <em>permet de créer des simples pages HTML et des REST API complexes</em>
                    </li>
                    <li>
                        <strong>Flexible :</strong><br>
                        <em>il peut être étendu via des librairies et des modules</em>
                    </li>
                    <li>Maintenu par une grande communauté de développeurs</li>
                </ul>
            </section>


            <section>

                <p><small>Qui utilise Flask ?</small></p>

                <ul>
                    <li>Netflix</li>
                    <li>Reddit</li>
                    <li>AirBnB</li>
                    <li>Lyft</li>
                    <li>Mozilla</li>
                    <li>Uber</li>
                    <li><em>Bientôt vous aussi</em></li>
                </ul>
            </section>


            <section>
            <h3>La mise en place</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='1-6|8-15'>
        
        
                '''Fichier "app.py" à la racine du projet'''
                # 1. On importe le module Flask
                import flask

                # 2. On déclare la variable globale pour l'application
                app = flask.Flask(__name__)

                # 3. On lance le serveur en mode dev pour avoir le debug
                &gt;&gt;&gt; export FLASK_ENV=development
                &gt;&gt;&gt; flask run

                # 3.b Si on utilise un fichier différent (hello.py) :
                &gt;&gt;&gt; export FLASK_ENV=development
                &gt;&gt;&gt; export FLASK_APP=hello
                &gt;&gt;&gt; flask run

        
                    </code></pre>
            </section>


            <section>
            <h3>Les routes</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='4-7|9-15|17-20|22-25|27-30'>
        
        
                import flask
                app = flask.Flask(__name__)

                # Une route est exposée par ce décorateur :
                @app.route('/endpoint', methods=['GET', 'POST'])
                def my_endpoint():
                    '''🤖'''

                # Si plusieurs routes doivent pointer vers le même output
                @app.route('/')
                @app.route('/home', methods=['GET', 'POST'])
                @app.route('/index')
                @app.route('/index-post', methods=['POST'])
                def home():
                    '''🤖'''

                # La route peut passer des arguments à la fonction
                @app.route('/books/&lt;title&gt;')
                def books(title):
                    '''🤖'''

                # ... préciser les types
                @app.route('/articles/&lt;int:year&gt;/&lt;int:month&gt;')
                def articles(year, month):
                    '''🤖'''

                # Et la fonction peut en définir les défauts
                @app.route('/reviews/&lt;int:year&gt;/&lt;int:month&gt;/&lt;str:title&gt;')
                def reviews(year=2021, month=12, title=None):
                    '''🤖'''

        
                    </code></pre>
            </section>


            <section>
            <h3>L'objet requête</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='1-3|7-17'>
        
        
                # Pour avoir accès au request object, on doit l'importer
                import flask
                from flask import request # 🆕

                app = flask.Flask(__name__)

                # Dans les routes on a acces au request object :
                @app.route('/endpoint')
                def endpoint():
                    request.method  # POST, GET, PUT, DELETE
                    request.args    # Les paramétres URL (?k=v)
                    request.headers # Les en-têtes de la requête

                    # Data reçues
                    request.form       # Le contenu du form (si submitted)
                    request.data       # Les data en format byte
                    request.get_json() # Les data lues depuis le JSON
    
        
                    </code></pre>
            </section>


            <section>
            <h3>Les réponses</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='6-17|19-29|31-38|40-41'>
        
        
                import flask
                app = flask.Flask(__name__)

                @app.route('/')
                def home():
                    # A. Gabarit HTML
                    html = flask.render_template(
                        'index.html',
                        title='Bienvenue sur ma page web !',
                        visits=10
                    )

                    response = flask.make_response(
                        html,                  # body
                        200,                   # status
                        {'X-Foo': 'blah blah'} # headers
                    )

                    # B. Réponse JSON
                    json = flask.jsonify({
                        'results': [1, 2, 3],
                        'error': None
                    })

                    response = flask.make_response(
                        json,                                 # body
                        200,                                  # status
                        {'Content-Type': 'application/json'}  # headers
                    )

                    # C. Rédirection
                    response = flask.redirect(
                        flask.url_for(
                            'dashboard', # Nom de la fonction
                            visits=11    # /?visits=11 || /&amp;#60;visits=11&amp;#62;
                        ),
                        code=302
                    )

                    # On retourne la réponse
                    return response
        
                    </code></pre>
            </section>


            <section>
                <p>C'est le temps de fabriquer quelque chose !</p>

                <p><small>Créez une application « squelettique » qui servira de base aux prochaines étapes.</small></p>
                <p><small>Cette application doit avoir les routes pour les opérations suivantes :</small></p>

                <ul>
                    <li>Enregistrer un article</li>
                    <li>Modifier un article</li>
                    <li>Lister tous les articles</li>
                </ul>

                <p><small>Pour les réponses, vous pouvez utiliser la méthode JSON et renvoyer des messages positifs pour les opérations effectuées, même si rien ne se passe réellement !</small></p>
            </section>


            <section>
            <h3>La gestion des erreurs</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='4-16'>
        
        
                import flask
                app = flask.Flask(__name__)

                '''
                Des réponses spécifiques peuvent être retournées
                dans le cas où une requête renvoie une erreur
                '''
                @app.errorhandler(404)
                def not_found():
                    '''🤖'''

                @app.errorhandler(400)
                def bad_request():
                    '''🤖'''

                @app.errorhandler(500)
                def server_error():
                    '''🤖'''
        
                    </code></pre>
            </section>

        </section>


        <section>

            <section>
                <p>Le plan du projet</p>

                <p><small>Jusqu'à présent, c'étaient les bases…
                <br>… c'est le moment de se compliquer la vie !
                <br>C'est ici que nous irons bientôt :</small></p>

                <pre>
                project/
                ├── __init__.py
                ├── database/
                │   ├── db.py
                │   └── schema.sql
                ├── routes/
                │   ├── auth.py
                │   └── articles.py
                ├── templates/
                │   ├── base.html
                │   ├── auth/
                │   │   ├── login.html
                │   │   └── register.html
                │   └── articles/
                │       ├── create.html
                │       ├── index.html
                │       └── update.html
                └── static/ style.css
                </pre>
            </section>


            <section>
            <h3>La fabrique de l'app</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='1-7|9-22'>
        
        
                # ./__init__.py

                import os
                import flask

                def create_app():
                    app = flask.Flask(__name__)

                    # Configuration de l'app
                    app.config.from_mapping(
                        SECRET_KEY='utilisée_pour_le_cryptage',
                        DATABASE=os.path.join(
                            app.instance_path,
                            'database',
                            'project.sqlite'
                        ) # Génère la path pour la BDD
                    )

                    # Ici on mettra nos routes
                    ...

                    return app
        
                    </code></pre>
            </section>


            <section>
            <h3>Le blueprint</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='1-11|14-20'>
        
        
                # ./routes/articles.py
                import flask
                blueprint = flask.Blueprint(
                    'articles',             # Nom
                    __name__,               # Nom pour l'import
                    url_prefix='/articles'
                )

                @blueprint.route('/new') # == '/articles/new'
                def new_article():
                    '''🤖'''


                # ./__init__.py
                def create_app():
                    ...
                    # On peut ajouter nos routes sous forme de blueprints
                    from routes import articles # 🆕
                    app.register_blueprint(articles.blueprint) # 🆕
                    ...
        
                    </code></pre>
            </section>


            <section>
                <p>C'est parti !
                <br><small>Reconvertissez la structure du projet</small></p>

                <p><small>Puis créez le blueprint "auth" avec les routes suivantes :</small></p>

                <ul>
                    <li>S'enregistrer</li>
                    <li>Effectuer le login</li>
                </ul>

                <p><small>Pour les réponses, vous pouvez utiliser la méthode JSON et renvoyer des messages positifs pour les opérations effectuées, même si rien ne se passe réellement !</small></p>
            </section>


            <section>
            <h3>La base de données</h3>
            <pre><code class='language-python'             data-trim data-noescape             data-line-numbers='1-5|8-16|19-23|27-44|48-57|60-65|68-70|74-80'>
        
        
                #./database/db.py
                import sqlite3
                import click
                import flask
                from flask.cli import with_appcontext


                def get_db():
                    if 'db' not in flask.g: # "g" est la var de session
                        flask.g.db = sqlite3.connect(
                            flask.current_app.config['DATABASE'],
                            detect_types=sqlite3.PARSE_DECLTYPES
                        )
                        flask.g.db.row_factory = sqlite3.Row

                    return flask.g.db


                def close_db(e=None):
                    db = flask.g.pop('db', None) # Détache la BDD

                    if db is not None:
                        db.close()



                #./database/schema.sql
                DROP TABLE IF EXISTS user;
                DROP TABLE IF EXISTS article;

                CREATE TABLE user (
                  id INTEGER PRIMARY KEY AUTOINCREMENT,
                  username TEXT UNIQUE NOT NULL,
                  password TEXT NOT NULL
                );

                CREATE TABLE article (
                  id INTEGER PRIMARY KEY AUTOINCREMENT,
                  author_id INTEGER NOT NULL,
                  created TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
                  title TEXT NOT NULL,
                  body TEXT NOT NULL,
                  FOREIGN KEY (author_id) REFERENCES user (id)
                );



                #./database/db.py
                def init_db():
                    db = get_db()

                    with flask.current_app.open_resource(
                        'database/schema.sql'
                    ) as schema:
                        db.executescript(
                            schema.read().decode('utf8')
                        )


                @click.command('init-db') # $ flask init-db
                @with_appcontext
                def init_db_command():
                    """Efface et récrée la BDD"""
                    init_db()
                    click.echo('BDD initialisée')


                def init_app(app):
                    app.teardown_appcontext(close_db)
                    app.cli.add_command(init_db_command)



                #./__init__.py
                def create_app():
                    ...
                    # On peut initialiser la BDD dans la factory
                    from database import db
                    db.init_app(app)
                    ...
        
                    </code></pre>
            </section>


            <section>
            <h3>Le gabarit HTML de base</h3>
            <pre><code class='language-html'             data-trim data-noescape             data-line-numbers='1|3-12|18-24|25-32|37-45'>
        
        
                &lt;!-- ./templates/base.html --&gt;
                &lt;!doctype html&gt;
                &lt;head&gt;
                  &lt;title&gt;{% block title %}{% endblock %} - Flaskr&lt;/title&gt;
                  &lt;link 
                    rel="stylesheet"
                    href="{{url_for(
                      'static',
                      filename='style.css'
                    ) }}"
                  &gt;
                &lt;/head&gt;

                &lt;body&gt;
                  &lt;nav&gt;
                    &lt;h1&gt;Flaskr&lt;/h1&gt;
                    &lt;ul&gt;
                      {% if g.user %}
                        &lt;li&gt;&lt;span&gt;
                          {{ g.user['username'] }}
                        &lt;/span&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="{{ url_for('auth.logout') }}"&gt;
                          Log Out
                        &lt;/a&gt;&lt;/li&gt;
                      {% else %}
                        &lt;li&gt;&lt;a href="{{ url_for('auth.register') }}"&gt;
                          Register
                        &lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href="{{ url_for('auth.login') }}"&gt;
                          Log In
                        &lt;/a&gt;&lt;/li&gt;
                      {% endif %}
                    &lt;/ul&gt;
                  &lt;/nav&gt;

                  &lt;section class="content"&gt;
                    &lt;header&gt;
                      {% block header %}{% endblock %}
                    &lt;/header&gt;

                    {% for message in get_flashed_messages() %}
                      &lt;div class="flash"&gt;{{ message }}&lt;/div&gt;
                    {% endfor %}

                    {% block content %}{% endblock %}
                  &lt;/section&gt;
                &lt;/body&gt;
        
                    </code></pre>
            </section>


            <section>
            <h3>Le formulaire d'enregistrement</h3>
            <pre><code class='language-html'             data-trim data-noescape             data-line-numbers='3|5-7|9-19'>
        
        
                &lt;!-- ./templates/auth/register.html --&gt;

                {% extends 'base.html' %}

                {% block header %}
                  &lt;h1&gt;{% block title %}Register{% endblock %}&lt;/h1&gt;
                {% endblock %}

                {% block content %}
                  &lt;form method="post"&gt;
                    &lt;label&gt;Username
                      &lt;input name="username" required&gt;
                    &lt;/label&gt;
                    &lt;label&gt;Password
                      &lt;input type="password" name="password" required&gt;
                    &lt;/label&gt;
                    &lt;input type="submit" value="Register"&gt;
                  &lt;/form&gt;
                {% endblock %}
        
                    </code></pre>
            </section>


            <section>
            <h3>Le formulaire de login</h3>
            <pre><code class='language-html'             data-trim data-noescape             data-line-numbers='3|5-7|9-19'>
        
        
                &lt;!-- ./templates/auth/login.html --&gt;

                {% extends 'base.html' %}

                {% block header %}
                  &lt;h1&gt;{% block title %}Log In{% endblock %}&lt;/h1&gt;
                {% endblock %}

                {% block content %}
                  &lt;form method="post"&gt;
                    &lt;label&gt;Username
                      &lt;input name="username" required&gt;
                    &lt;/label&gt;
                    &lt;label&gt;Password
                      &lt;input type="password" name="password" required&gt;
                    &lt;/label&gt;
                    &lt;input type="submit" value="Log In"&gt;
                  &lt;/form&gt;
                {% endblock %}
        
                    </code></pre>
            </section>

        </section>

    </div>
    	</div>
        <script src="dist/reveal.js"></script>
        <script src="plugin/notes/notes.js"></script>
        <script src="plugin/markdown/markdown.js"></script>
        <script src="plugin/highlight/highlight.js"></script>
        <script>
            // More info about initialization & config:
            // - https://revealjs.com/initialization/
            // - https://revealjs.com/config/
            Reveal.initialize({
                hash: true,
                parallaxBackgroundImage: 'https://background-tiles.com/overview/black/patterns/large/1035.png',
                parallaxBackgroundSize: '300px 300px',
                parallaxBackgroundHorizontal: 200,
                parallaxBackgroundVertical: 50,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
            });
        </script>
    </body>
</html>