
<!-- ./templates/articles/create.html -->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nouvel article{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label>Titre
      <input name="title"
      value="{{ request.form['title'] }}"
      required>
    </label>
    
    <label>Contenu
      <textarea name="body">
        {{ request.form['body'] }}
      </textarea>
    </label>
    
    <input type="submit" value="Save">
  </form>
{% endblock %}